{
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": 1,
    "no-var": 1,
    "semi-spacing": 1,
    "no-spaced-func": 1,
    "spaced-comment": 1,
    "space-unary-ops": 1,
    "keyword-spacing": 1,
    "no-duplicate-imports": 1,
    "space-before-function-paren": 1
  }
}
